/* Alteraçãos padrão */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F4F0;
}

img {
    width: 1120px;
    border-radius: 28px;
}

h1, h2 {
    color: #1B1B1B;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

p {
    color: #333333;
}

/* Realterei para 30px, senti que o margin-top 85px como pede no Figma ia ficar muito espaçado do topo */
main {
    max-width: 1120px;
    margin: 30px auto 140px auto;
}

.content-border {
    border-bottom: 1px solid #D9D9D9;
}

.main-content h3 {
    font-size: 14px;
    color: #E1624F;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.main-content h1 {
    margin-bottom: 40px;
}

.main-content p {
    text-align: center;
    margin: 24px 0 40px 0;
    padding: 0 50px;
}

.busan-content {
    margin: 64px 0;
}

.busan-content h3 {
 color: #E1624F;
}

.busan-content p {
    margin-top: 8px;
}

.content {
    margin-bottom:  48px;
}

.content img {
    height: 350px;
}

.content-title h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    margin: 20px 0 4px 0;
}

.content-title p + p {
    font-family: "Open Sans", sans-serif;
    font-weight:  bold;
    margin-top: 20px;
}

ul li {
    margin-left: 18px;
    color: #0C51A7;
    font-weight: bold;
}

ul li::marker {
    color: #000;
}

.couples {
    color: #591B98;
}

.family {
    color: #E5245E;
}

.budget {
    color: #E95E10;
    margin-bottom: 40px;
}

.last-p {
    text-align:  center;
    margin-bottom: 65px;
}

footer {
    text-align: center;
    margin-bottom: 48px;
}